@import "tools";
article {
  width: 100%;
  padding: 0;
  .tools {
    width: 100%;
    text-align: center;
    padding: 50px 5%;
    h2 {
      @include h-first-mobile;
      margin-bottom: 16px;
    }
    h3 {
      @include h-second-mobile;
      color: $font-color-third;
    }
    p {
      @include paragraph;
      color:  $font-color-third;
      margin-bottom: 32px;
      text-align: justify;
    }
    .tools-description{
      .tools-description-item {
        .fas {
          font-size: 100px;
          margin-bottom: 20px;
        }
        .fa-clipboard {
          color: $info-bg-third;
        }
        .fa-user-astronaut {
          color: $info-bg-first-color;
        }
        .fa-user-secret {
          color: $info-bg-fourth;
        }
        h2 {
          @include h-third;
          text-transform: none;
        }
        p{
          @include paragraph-small;
        }
      }
    }
    .get-started {
      @include btn;
      background-color:  $btn-sub-color;
      color:  $font-color-main;
      padding: 20px 25px;
    }
  }
  .benefits {
    width: 100%;
    .benefits-inner{
      display: flex;
      flex-wrap: wrap;
      .benefits-item {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        padding: 16px;
        background-color: #00b8d4;
        .benefits-img {
          display: flex;
          align-self: center;
          width: 60px;
          height: 60px;
          justify-content: center;
          border-radius: 50%;
          background-color: white;
          margin-bottom: 16px;
          .fas {
            font-size: 30px;
            align-self: center;

          }
        }
        .benefits-number, .benefits-title {
          align-self: center;
          color:  $font-color-main;
          @include h-third;
        }
        .benefits-number {
          opacity: 0;
        }
      }

      .business {
        background-color: $info-bg-first-color;
        .fas {
          color: $info-bg-first-color;
        }
      }
      .downloads {
       background-color:  $info-bg-second-color;
        .fas {
          color: $info-bg-second-color;
        }
      }
      .installs {
        background-color:  $info-bg-third;
        .fas {
          color: $info-bg-third;
        }
      }
      .users {
        background-color:  $info-bg-fourth;
        .fas {
          color: $info-bg-fourth;
        }
      }
    }
  }
  .services {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 45px 5%;
    .services-title {
      @include h-secondary;
      text-align: center;
    }
    .services-description {
      @include paragraph;
      color:  $font-color-third;
      text-align: justify;
      margin: 20px 0 40px;
    }
    br {
      display: none;
    }
    .services-item {
      width: 100%;
      padding-bottom: 20px;
      .services-item-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:hover {
          cursor: pointer;
        }
        .services-item-title {
          text-transform: uppercase;
          margin: 0 10px;
        }
        .services-item-toggle {
          margin-left: auto;
        }
      }
      .services-item-content {
        .services-item-img {
          width: 100%;
        }
        .services-item-description {
          @include paragraph-small;
          color:  $font-color-fourth;
          text-align: justify;

        }
      }
    }
  }
  .response {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 5%;
    @include bg-gradient;
    br {
      display: none;
    }
    .response-content {
      flex-basis: 100%;
      padding-bottom: 15px;
      .response-title {
        @include h-first-mobile;
        text-align: center;
        color:  $font-color-main;
        margin-bottom: 20px;
      }
      .response-description {
        @include paragraph;
        color:  $font-color-main;
        text-align: justify;
        margin-bottom: 35px;
      }
      .response-btn {
        @include btn;
        background-color: $btn-main-color;
        color: $font-color-main;
        padding: 15px 30px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .response-slide {
      flex-basis: 100%;
    }
    .response-slider {
      width: 90%;
      margin: 0 auto;
      .response-slider-item {
        display: flex;
        align-items: center;
        margin: 15px;
        .response-slider-img {
          flex-basis: 20%;
          display: none;
        }
        .response-slider-description {
          flex-basis: 100%;
          padding: 16px;
          background-color: $body-bg-color;
          border-radius: 5px;
          text-align: justify;
          .slider-description-title {
              @include h-fourth;
          }
          .slider-description-text {
            @include paragraph;
            color: $font-color-third;
          }
        }
      }
    }
  }
  .feedback {
    width: 100%;
    padding: 25px 5% 50px;
    background-color:  $contact-bg-color;
    br {
      display: none;
    }
    .feedback-title {
      @include h-first-mobile;
      color:  $font-color-second;
      text-align: center;
      margin-bottom: 16px;
    }
    .feedback-description {
      @include paragraph;
      color: $font-color-second;
      text-align: justify;
    }
    .feedback-form {
      width: 100%;
      max-width: 700px;
      padding: 10px 0;
      margin: 0 auto;
      input, .customer-message {
        width: 100%;
        border: 1px solid $font-color-fourth;
        border-radius: 5px;
        padding: 15px;
        font-family: $font;
        font-size: 14px;
        color:  $font-color-fourth;
        margin-bottom: 10px;
        text-transform: capitalize;
        font-weight: bolder;
        outline: none;
        -webkit-appearance: none;
      }
      .customer-message {
        height: 150px;
      }
      .feedback-form-submit {
        background-color:  $btn-sub-color;
        @include btn;
        color:  $font-color-main;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}


// for tablet portrait up
@media all and (min-width:600px) {
  article {
    .services {
      .services-item {
        .services-item-content {
          display: flex;
          .services-item-description{
            flex-basis: 60%;
            padding: 10px;
          }
          .services-item-img {
            flex-basis: 40%;
          }
        }
      }
    }
    .feedback {
      .feedback-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        input {
          flex-basis: 49%
        }
        .feedback-form-submit {
          margin-left: auto;
        }
      }
    }
  }
}
//for tablet landscape up
@media all and (min-width:900px) {
  article {
    .tools {
      p {
        width: 60%;
        margin: 0 auto 80px;
        text-align: center;
      }
      .tools-description {
        display: flex;
        .tools-description-item {
          padding: 10px;
          .fas {
            margin-bottom: 40px;
          }
          p {
            width: 100%;
            text-align: justify;
          }
        }
      }
    }
    .benefits {
      .benefits-inner{
        .benefits-item {
          flex-basis: 25%;
        }
      }
    }
    .services {
      .services-description {
        text-align: center;
      }
      br {
        display: block;
      }
    }
    .response {
      .response-content {
        flex-basis: 40%;
        padding-top: 60px;
        .response-title {
          text-align: left;
        }
        .response-description {
          margin-bottom: 70px;
        }
      }
      .response-slider {
        width:  55%;
        .fa-chevron-up, .fa-chevron-down {
          color: $font-color-main;
          font-size: 20px;
          position: relative;
          left: 55%;
          &:hover{
            cursor: pointer;
          }
        }
        .response-slider-item {
          margin: 32.5px 0;
         .response-slider-img {
           display: flex;
           flex-basis: 20%;
           align-items: center;
           justify-content: center;
         }
        }
      }
    }
    .feedback {
      padding: 45px 5% 100px;
      br {
        display: block;
      }
      .feedback-title {
        @include h-secondary;
      }
      .feedback-description {
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}

//for desktop up
@media all and (min-width:1200px) {
  article {
    .tools {
      padding: 100px 0;
      h2 {
        @include h-secondary;
      }
      p{
        @include paragraph;
        width: 40%;
      }
      .tools-description {
        .tools-description-item {
          p {
            width: 70%;
            text-align: center;
          }
        }
      }
      input:hover {
        cursor: pointer;
      }
    }
    .services {
      padding: 90px 5%;
    }
    .response {
      background-image: linear-gradient(-53.0deg, rgba(0, 184, 212, 0.8) -11%, rgba(29, 233, 182, 0.8) 111%),
      url("../../img/response-bg.png");
    }
    .feedback {
      .feedback-form {
        .feedback-form-submit {
          flex-basis: 25%;
        }
      }
    }
  }
}

@media all and (min-width: 1500px) {
  article{
    .response {
      br {
        display: block;
      }
      .response-content {
        .response-title {
          @include h-secondary;
        }
      }
    }
  }

}

//for big desktop up
@media all and (min-width:1800px) {
}